.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 40px;
}
.pListItem{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.pListImg{
    width: 100%;
    object-fit: cover;
    height: 150px;
}
.pListTitles>h1{
    font-size: 18px;
}
.pListTitles>h2{
    font-size: 14px;
    font-weight: 500;
    color: grey;

}
@media screen and (max-width: 600px){
    .pList{
        width: 100%;
        display: flex;
        gap: 15px;
        overflow-x: scroll;
        /* Optional: You can also set a maximum height to control the height of the list on mobile */
        max-height: 400px;
}
.pListItem{
    flex: 0 0 auto; /* Allow items to shrink and not stretch to fill the space */
    width: auto; /* Auto width based on content */
    min-width: 150px;
   
}

}
