.navbar{
    background-color: #003580;
    height: 60px;
    display: flex;
   justify-content: center;
   
   
}
.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  font-weight: 500;
  font-size: 28px;
}
.navBtn{
 margin-left: 20px;
 padding: 10px 20px;
 border-radius: 5px;
 background-color: white;
 font-size: 18px;
 border: none;
 cursor: pointer;
 color: #003580;
}
@media screen and (max-width: 600px){
  .navContainer{
   width: 80%;
}
.logo{
  font-weight: 500;
  font-size: 18px;
}
.navBtn{
  padding: 5px ;
  background-color: white;
  border: none;
  border-radius: none;
  cursor: pointer;
  color: #003580;
  margin-left: 7px;
 }
}