.fp{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.fpItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;

}
.fpImg{
    width: 100%;
    object-fit: cover;
}
.fpName{
    font-size: 21px;
    font-weight: 600;
    margin-top: 10px;
}
.fpPlace{
  color: gray;
  font-size: 19px;
  font-weight: 500;
}
.fpPrice{
    color: gray;
    font-size: 14px;
    font-weight: 500;
    
}
.fpPrice>small{
    font-size: 22px;
    font-weight: 700;
    color: black;
}
.fpRating{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.fpBtn{
    height: 30px;
    width: 30px;
    background-color: #003580;
    color: white;
    border-radius: 5px 5px 5px 0px;
    border: none;
    cursor: pointer;
}
.fpText{
    color: gray;
    font-weight: 500;
}